<!DOCTYPE html>
<html lang="en">
<head>
    <!--    settings & API-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>:root {
        color-scheme: dark;
    }</style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Martian Mono">
    <style>
        body {
            font-family: "Martian Mono", sans-serif;
        }
    </style>
    <!--    title-->
    <link rel="todo icon" href="media/img/todo-logo.png">
</head>
<body class="w-[50%] mx-auto relative bg-black">
{% block main %}
{% endblock %}
{% include 'messages.html' %}
</body>
</html>