{% extends 'base.html' %}
{% block main %}
    <div class="p-5 h-dvh">
        <p id="socket-message-log" class="text-lime-500">hello world</p>
    </div>
    <div class="absolute bottom-11 right-0 w-full">
        <div class="flex w-[80%] mx-auto">
            <input id="socket-message-input" placeholder="type ..."
                   class="w-full placeholder-gray-500 px-4 rounded-md py-3 text-left border border-2 border-lime-800 text-lime-500"
                   rows="3">
            <button id="socket-message-submit"
                    class="h-11 inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-300 ease-in-out text-white hover:bg-green-950 focus:outline-none ml-2">
                <p class="text-lime-500">Send</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     class="h-6 w-6 ml-2 transform rotate-90 hidden sm:block text-lime-500">
                    <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                </svg>
            </button>
        </div>
    </div>
    <script>
    var socket = new WebSocket('ws://' + window.location.host + '/ws/');

    socket.onmessage = function (e) {
        var message = e.data;
        document.querySelector('#socket-message-log').value += (message + '\n');
    };

    socket.onclose = function (e) {
        console.error('ERR: socket closed');
    };

    document.querySelector('#socket-message-input').focus();
    document.querySelector('#socket-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector('#socket-message-submit').click();
        }
    };

    document.querySelector('#socket-message-submit').onclick = function (e) {
        var message = document.querySelector('#socket-message-input').value;
        socket.send(message)
    }

    </script>
{% endblock %}